@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');
*{
    font-family: 'Lora', serif;
    margin: 0%;
    padding: 0%;
}
body{
    background:#16a085;
}
.fist{
    background-image: url(/img/family1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     height: 90vh; 
}
#check,label{
    display: none;
}
nav {
    background: rgb(80, 80, 80);
}
#check, label {
    display: none;
}
ul {
    display: flex;
}
ul li {
    list-style: none;
    padding: 15px;
}
ul .active {
    background: #e67e22;
}
ul a {
    color: #fff;
    text-decoration: none;
}
.main-contain h1{
 text-align: center;
margin-top: 200px;
}
/* ============================= */

.icon{
    padding: 20px;
    margin-top: 20px;
}
.icon i{
    padding: 20px;
}
.ft-icon{
    display: flex;
    justify-content: center;
}
.ft-icon img{
    padding: 20px;
}
footer{
   text-align: center;
    background: black;
    margin: 0%;
    padding: 3px;
}
footer ul{
    display: flex;
    justify-content: center;
    background: black;
}
footer ul li{
    padding: 20px;
    list-style: none;
}
footer ul li a{
    text-transform: uppercase;
    color: blue;
}
/* ============================== */
.d-flex{
    display: flex;
    justify-content: space-between;
}
.card img{
    width: 300px;
    border: 10px solid #e67e22;
    text-align: center;
}
.card .img,
h1{
  display: flex;
  justify-content: center;
}
.background{
    background: rgb(80, 80, 80);
}
.card-border{
    border: 2px solid #e67e22;
}
.color-white{
    color: white;
}
.pd-10{
    padding: 10px;
}
.margit-10{
    margin: 10px;
}
.card-body:hover{
    background:#16a085;
}


@media(max-width:860px){
    nav {
        display: none;
    }
    label {
        display: block;
    }
    ul {
        display: block;
        background: rgb(54, 83, 102);
        
    }
    #check:checked ~ nav{
        display: block;
    }
    footer ul{
        font-size: 15px;
    }
    footer img{
        width: 30px;
    }
    .group-box-wrap{
        flex-wrap: wrap;
    }
    .group-wrap{
        flex-wrap: wrap;
    }
}

@media(max-width:450px){
    .main{
        flex-wrap: wrap;
    }
    nav {
        display: none;
    }
    label {
        display: block;
    }
    ul {
        display: block;
        background: rgb(54, 83, 102);  
    }
    #check:checked ~ nav{
        display: block;
    }

    footer ul{
        font-size: 10px;
    }
    footer img{
        width: 25px;
    }
}