@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');
*{
    font-family: 'Lora', serif;
    margin: 0%;
    padding: 0%;
}
body{
    background:#16a085;
}
#check,label{
    display: none;
}
nav {
    background: rgb(80, 80, 80);
}
#check, label {
    display: none;
}
ul {
    display: flex;
}
ul li {
    list-style: none;
    padding: 15px;
}
ul .active {
    background: #e67e22;
}
ul a {
    color: #fff;
    text-decoration: none;
}
.fist{
    background-image: url(/img/bg-about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.button-33 {
  background-color: #9e7b06;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
button a{
    text-decoration: none;
    color:white;
    font-size: 20px;

}
.fist .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
/* ================ */

.icon{
    padding: 20px;
    margin-top: 20px;
}
.icon i{
    padding: 20px;
}

.ft-icon{
    display: flex;
    justify-content: center;
}
.ft-icon img{
    padding: 20px;
}
footer{
   text-align: center;
    background: black;
    margin: 0%;
    padding: 3px;
}
footer ul{
    display: flex;
    justify-content: center;
    background: black;
}
footer ul li{
    padding: 20px;
    list-style: none;
}
footer ul li a{
    text-transform: uppercase;
    color: blue;
}
h1{
    font-size: 50px;
    color: #e67e22;
    text-align: center;
    margin-top: 90px;
}
/* =================== */

.contact-me {
    background-color: #e67e22;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 20px;
  }
.contact-me a{
    color: white;
    text-decoration: none;
}
.contact-me:hover{
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
   
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.group-wrap{
    flex-wrap: wrap;
}
.background{
    background: rgb(65, 65, 65);
}
.mg-10{
    margin: 10px;
}
.pd-10{
    padding: 10px;
}
.pd-20{
    padding: 20px;
}
/* .container{
    width: 100%;
}
.sid-right{
    width: 60%;
}
.sid-left{
    width: 40%;
} */
.white-color{
    color: white;
}
.link-p{
    line-height: 1.5;
}
h2{
    margin: 30px;
    width: 200px;
    padding: 30px;
    background: #e67e22;
    color: white;
    border-radius: 70px 70px;
}
@media(max-width:860px){
    nav {
        display: none;
    }
    label {
        display: block;
    }
    ul {
        display: block;
        background: rgb(54, 83, 102);
    }
    #check:checked ~ nav{
        display: block;
    }
    footer ul{
        font-size: 15px;
    }
    footer img{
        width: 30px;
    }  
    .sid-left img{
        align-items: center;
    }
    .sid-right{
        flex-wrap: wrap;
        display: block;
    }
    .container{
        flex-wrap: wrap;
        display: block;
    }
    .sid-left img{
        width: 100%;
    }
    .sid-right{
        width: 100%;
    }
}
@media(max-width:450px){
    nav {
        display: none;
    }
    label {
        display: block;
    }
    ul {
        display: block;
        background: rgb(54, 83, 102);
       
        
    }
    #check:checked ~ nav{
        display: block;
    }
    .group-wrap{
        flex-wrap: wrap;
    }
    footer ul{
        font-size: 10px;
    }
    footer img{
        width: 25px;
    }
    .fist{
        background-image: url(/img/bg-about.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 70vh;
        display: block;
    }
    h1{
        font-size: 30px;
        color: #e67e22;
        text-align: center;
        margin-top: 60px;
    }
    .sid-left img{
        width: 100%;
    }
    .sid-right{
        width: 100%;
    }
}